[submodule ".vim"]
	path = .vim
	url = git://github.com/linsong/vim-config.git
[submodule ".mutt"]
	path = .mutt
	url = git@github.com:linsong/mutt-config.git
[submodule ".vimperator"]
	path = .vimperator
	url = git@github.com:linsong/vimperator-config.git
