[submodule ".vim"]
	path = .vim
	url = git://github.com/linsong/vim-config.git
[submodule ".mutt"]
	path = .mutt
	url = git@github.com:linsong/mutt-config.git
[submodule ".vimperator"]
	path = .vimperator
	url = git@github.com:linsong/vimperator-config.git
[submodule ".w3m"]
	path = .w3m
	url = git@github.com:linsong/w3m-config.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:linsong/oh-my-zsh.git
[submodule ".my_bash"]
	path = .my_bash
	url = git@github.com:linsong/my_bash.git
[submodule ".hammerspoon"]
	path = .hammerspoon
	url = git@github.com:linsong/dot_hammerspoon.git
[submodule ".vifm"]
	path = .vifm
	url = git@github.com:linsong/dot_vifm.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:linsong/dot_tmux.git
