snippet function
    ${1:public} function ${2}(${3}):${3:void} {
    ${4}
    }
snippet Embed
    [Embed(source='${1}')]
snippet var
    ${1:public} var ${2}:${3};
snippet if
    if(${1})
    {
        ${2}
    }
snippet for
    for( ${1} ${2:i} = ${3}; $2 < ${4:count}; $2 += ${5})\n{\n${6}\n}\n


