snippet redirect_to
	redirect_to :action => "${1:index}"
snippet form_tag
	<%= form_tag :action => "${1:update}" %>
snippet link_to
	<%= link_to :action => "${1:index}" %>
snippet redirect_to
	redirect_to :controller => "${1:items}"
snippet flash
	flash[:${1:notice}] = "${1}"${2}
snippet acol
	add_column ${1:table} ${2:column}, :${3:string}
snippet url_for
	url_for(:controller => :${1}, :action => :${2})
