snippet test
	test "${1}" do
	  ${2}
	end
snippet ar success response
	assert_response :success
snippet ar redirect response
	assert_response :redirect
snippet ad
	assert_difference "${1}" ${2:+1} do 
	  ${3}
	end
snippet am
	assert_match /${1}/, ${2}
snippet as
	assert_select "${1}", ${2}
snippet nsc
	def new_session
	  open_session do |sess|
	    sess.extend(${1})
	    yield sess if block_given?
	  end
	end
snippet ns
	new_session do |sess|
	  ${1}
	end
