snippet sel "select * from table "
SELECT ${1:column1}${2:, ${3:column2}} FROM ${4:table}${5: WHERE ${6:condition}} $0
endsnippet

snippet del "delete data from table " 
DELETE FROM ${1:table} ${2:WHERE ${3}} $0
endsnippet

snippet up "update table columns" 
UPDATE ${1:table} SET ${2:col1}=${3:expr1|DEFAULT} ${4:, ${5:col2}=${6:expr2|DEFAULT}} ${7:WHERE ${8:condition}} $0
endsnippet
