snippet df "DynamicForward (df)"
DynamicForward ${1:0000}
endsnippet

snippet host "Host (host)"
Host ${1:AliasName}
	User ${2:UserName}
	Port ${3:22}
	HostName ${4:hostname.com}

endsnippet

snippet idf "IdentityFile (idf)"
IdentityFile ${1:~/.ssh/filename}
endsnippet

snippet lf "LocalForward (lf)"
LocalForward ${1:LocalPort} ${2:DestHost}:${3:DestPort}
endsnippet

