snippet hm
	has_many :${1}${2:, :dependent => :destroy_all}
snippet bt
	belongs_to :${1}
snippet ho
	has_one :${1}
snippet va
	validates_associated :${attr}
snippet vc
	validates_confirmation_of :${attr}
snippet ve
	validates_exclusion_of :${attr}
snippet vf
	validates_format_of :${attr}, :with => /${regex}/
snippet vn
	validates_numericality_of :${attr}
snippet vp
	validates_presence_of :${attr}
snippet vu
	validates_uniqueness_of :${attr}
