XPTemplate priority=personal+
XPTemplateDef

XPT sel "select * from table "
SELECT ${1:column1}${2:, ${3:column2}} FROM ${4:table}${5: WHERE ${6:condition}} $0

XPT del "delete data from table " 
DELETE FROM `table^ `WHERE `3^^ CURSOR

XPT up "update table columns" 
UPDATE `table^ SET `col1^=`expr1 ${4:, ${5:col2}=${6:expr2|DEFAULT}} ${7:WHERE ${8:condition}} $0
